
UR10/Rail/.idea/misc.xml
UR10/Rail/.idea/serverTest.iml
UR10/Rail/.idea/modules.xml
UR10/Rail/.idea/inspectionProfiles/profiles_settings.xml
UR10/Rail/.idea/vcs.xml
UR10/Rail/.idea/.name
Pyk/log/2022-11-25/11-37-03/UrEvent.log
Pyk/log/2022-11-25/11-35-10/UrEvent.log
*.csv
*.log
.idea/workspace.xml
.idea/other.xml
.idea/workspace.xml
